<!-- adminDashboard.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" th:href="@{/assets/images/logo/logo.png}"/>
    <link rel="stylesheet" th:href="@{/assets/css/adminDashboard.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/style.css}"/>
    <script th:src="@{/js/render.js}" defer></script>
    <script th:src="@{/js/util.js}" defer></script>
    <script th:src="@{/js/components/header.js}" defer></script>
    <script th:src="@{/js/components/footer.js}" defer></script>
    <title>Admin Dashboard</title>
</head>
<body onload="renderContent()">
    <div class="container">
        <div class="wrapper">
            <div id="header"></div>
            <main class="main-content">
              <div class="filter-wrapper">
                <input type="text" id="adminSearchBar" class="filter-select" placeholder="Doctor name"/>
    
                <select name="filterTime" id="adminFilterTime" class="filter-select">
                    <option selected value="" >Filter by time</option>
                    <option value="AM">AM</option>
                    <option value="PM">PM</option>
                </select>
    
                <select name="filterSpecialty" id="adminFilterSpecialty" class="filter-select">
                    <option selected value="" >Filter by speciality</option>
                    <option value="Cardiologist">Cardiologist</option>
                    <option value="Dentist">Dentist</option>
                </select>
              </div>
                <div id="content"></div>
            </main>
            <div id="footer"></div>
            <div id="modal" class="modal">
                <span id="closeModal" class="close">&times;</span>
                <div id="modal-body"></div>
            </div>
        </div>
    </div>
    <script type="module" th:src="@{/js/adminDashboard.js}" defer></script>
    <script type="module" th:src="@{/js/components/doctorCard.js}" defer></script>
</body>
</html>
