/*this is the style sheet for the adminDashboard. */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  height: 100%;
  font-family: Arial, sans-serif;
}

.wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h2{
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 50px;
  color: #003e3e;
}

.main-content{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding:40px;
  justify-content:center;
  align-items: center;
  text-align: center;
  background-image: url("../images/defineRole/index.png"); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

}

button{
  background-color: #A62B1F;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  margin-top: 20px;
  width: 200px;
  cursor: pointer;
  font-size: 16px;
}

.adminBtn{
  background-color: #f4f4f4;
  color: #333;
  font-weight: bold;
  width: 110px;
  padding: 10px 0;
  border:none;
  cursor: pointer;
}

.adminBtn:hover{
  background-color: #A62B1F;
  color: white;
}