/* This is the style sheet for the doctorDashboard.html */
.table-header{
  font-size: 24px;
  color: #015c5d;
  margin-bottom: 30px;
  margin-right: none;
}

table{
  width: 100%;
  border-collapse: collapse;
  font-family: sans-serif;
  margin-top: 20px;
}

thead{
  background-color: #33333310;
  color: white;
}

td, th{
  padding: 12px 16px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

tr:nth-child(even){
  background-color: #f9f9f959;
}

tr:nth-child(odd){
  background-color: #ffffffc0;
}

tr:hover{
  background-color: #015c5d39;
}

.prescription-btn{
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: scale 0.3s ease, filter 0.3s ease;
}


.prescription-btn:hover{
  transform: scale(1.1);
  filter: brightness(1.3);
}


.prescription-btn:active{
  transform: scale(0.95);
}

.noPatientRecord{
  font-style: italic;
  font-size: 16px;
  color: gray;
}

.today-btn{
  margin-right: 10px;
  padding: 10px;
  background-color: #015c5d;
}

.date-picker{
  margin-left: 10px;
  margin-top: 13px;
  border-radius: 8px;
  padding: 10px;
}