/* this is the style sheet file for index.htlm  */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html, body{
  height: 100%;
  font-family:'Roboto';
}

.wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h2{
  font-size: 48px;
  margin-bottom: 50px;
  color:#003e3e;
  font-weight: bold;
  font-family: 'Alegreya', 'Roboto', sans-serif;
}

.main-content{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding:40px;
  justify-content:center;
  align-items: center;
  text-align: center;
  background-image: url("../images/defineRole/index.png"); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

button{
  background-color: #015c5d;
  color: white;
  border: none;
  border-radius: 10px;
  width: 200px;
  margin-top: 10px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

button:hover{
    background-color: #A62B1F;
}

.dashboard-btn:hover{
  background-color: #003e3e;
}