* {
  --sb-track-color: #f0fded;
  --sb-thumb-color: #a62b1f;
  --sb-size: 14px;
}

*::-webkit-scrollbar {
  width: var(--sb-size);
}

*::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

*::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
  * {
      scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}